#include "resource.h"


IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open", ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "50%",  ID_VIEW_50
        MENUITEM "100%", ID_VIEW_100
        MENUITEM "200%", ID_VIEW_200
    END
END

